.contact{
    display: flex;
    background-color: rgb(3, 0, 26);
    justify-content: center;
    align-items: center;
    color: #b1b1b1;
        padding: 10dvh 15dvw;

    
}
.contactTextPart li{

}

.contactSocial{
    align-items: center;
    justify-content: center;
    display: flex;
}
.contactSocial div{
    margin: 20px 20px;
    font-size: 25px;
    padding: 0;
    background-color: transparent;

}
.contactSocial div:hover{
filter: drop-shadow(0 0 10px rgb(0, 143, 0))
drop-shadow(0 0 10px rgba(82, 255, 82, 0.486));   
  transition: 0.3s;
  color: green;

}
.contactSocial div a{
    text-decoration: none;
    color: rgb(211, 211, 211);
}
.icon{
    margin-top: 2px;
    padding: 0 10px;
}
.contactHeading{
    width:40dvw;
}
.contactHeading h1{
    padding: 20px 0;
    font-size: 30px;
}
.contactTextPart li{
    display: flex;
    margin: 0 5dvw;
list-style: none;
padding: 10px 0;

}
.contactTextPart{
    display: block;
}




@media (max-width:999px) {
 .contact{
    display: block;
    background-color: rgb(3, 0, 26);
    justify-content: center;
    align-items: center;
    color: #b1b1b1;
    padding: 5px;

    
}
.contactTextPart li{

}

.contactSocial{

    display: flex;
    justify-content: start;
} 
.contactSocial div{
    margin: 5px;
    font-size: 25px;
    padding: 0;
    background-color: transparent;

}
.contactSocial div:hover{
filter: drop-shadow(0 0 10px rgb(0, 143, 0))
drop-shadow(0 0 10px rgba(82, 255, 82, 0.486));   
  transition: 0.3s;
  color: green;

}
.icon{
    margin-top: 2px;
    padding: 0 10px;
}
.contactHeading{
    width:95dvw;
}
.contactHeading h1{
    padding: 20px 0;
    font-size: 30px;
}
.contactTextPart li{
    display: flex;
    margin: 0 0dvw;
list-style: none;
padding: 10px 0;

}
.contactTextPart{
    display: block;
}
    
}