.contact{
    display: flex;
    background: var(--primary-gradient);
    justify-content: center;
    align-items: center;
    color: #b1b1b1;
        padding: 5dvw 15dvw;
}
.footer{
    text-align: center;
margin-top: -2dvw;
color: #b1b1b169;
font-size: 0.8dvw;
}


.contactSocial{
    align-items: center;
    justify-content: center;
    display: flex;
}
.contactSocial div{
    margin: 20px 20px;
    font-size: 25px;
    padding: 0;
    background-color: transparent;

}
.contactSocial div:hover{
filter: drop-shadow(0 0 10px rgb(0, 143, 0))
drop-shadow(0 0 10px rgba(82, 255, 82, 0.486));   
  transition: 0.3s;
  color: green;

}
.contactSocial div a{
    text-decoration: none;
    color: rgb(211, 211, 211);
}
.icon{
    margin-top: 2px;
    padding: 0 10px;
}
.contactHeading{
    width:40dvw;
}
.contactHeading h1{
    padding: 20px 0;
    font-size: 30px;
}
.contactHeading p{
        text-align: left;

}
.contactTextPart li{
    display: flex;
    margin: 0 5dvw;
list-style: none;
padding: 10px 0;

}
.contactTextPart{
    display: block;
}




@media (max-width:999px) {
 .contact{
    padding: 20px 30px;
    display: block;
    background-color: var(--primary-gradient);
    justify-content: center;
    align-items: center;
    color: #b1b1b1;
}
.contactHeading h1{
    padding: 5px 0;


}
.contactHeading p{
    width: 90dvw;
    font-size: 20px;
    line-height: 26px;
}
.contactSocial{

    display: flex;
    justify-content: start;
    padding: 20px 0;
} 
.contactSocial div{
    margin: 50px 25px;
    padding: 0;
    background-color: transparent;

}
.contactSocial div:hover{
filter: drop-shadow(0 0 10px rgb(0, 143, 0))
drop-shadow(0 0 10px rgba(82, 255, 82, 0.486));   
  transition: 0.3s;
  color: green;

}
.contactSocial div a{
    font-size: 42px;
}
.icon{
    margin-top: 2px;
    padding: 0 10px;
}
.contactHeading{
    width:95dvw;
}
.contactHeading h1{
    margin: 20px 0;
    padding: 5px 0;
    font-size: 17px;
}
.contactTextPart li{
    display: flex;
    margin: 0 0dvw;
list-style: none;
padding: 20px 0;
font-size: 20px;

}
.contactTextPart{
    display: block;
    padding-top: 30px;

}
   .footer{
    text-align: center;
margin-top: 0;
color: #b1b1b169;
font-size: 12px;
} 
.footer p{
    font-size: 12px;
}
}