.portfolio{
  background: var(--primary-gradient);
  height: 100%;
  min-height: 100dvh;
}
.category{
    background-color: none;
}

.portfolio-works-section{
    margin-top: 5dvw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    gap: 1dvw   ;
        box-sizing: border-box;

}
.work-card{
    box-sizing: border-box;
   width: 20dvw;
   color: whitesmoke;
   position: relative;
}
.work-card img{
    width:  100%;
}
.portfolio-works-details{
    position: absolute;
    padding: 1dvw;
    height: 100%;
    width: 100%;
        bottom: 0;
display: flex;
flex-direction: column;
align-items: baseline;
justify-content: flex-end;
opacity: 0;
}


.category{
    margin-top: 3dvw;
    display:flex;
    justify-content: center;
    
}
.category a{
    padding: 0.8dvw 1.5dvw;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 1dvw;
}
.category a:hover{
    background: var(--primary-gradient);
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-image{
    height: 400px;
    padding: 20px;
}
.popup-content {
    position: relative;
    display: flex;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 70dvw;
}

.popup-details{
    padding: 20px;
}
.popup-content button{
    background-color: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
}

@media (max-width:999px){
    .portfolio{
  background: var(--primary-gradient);
  height: 100%;
}
.portfolio-works-section{
    display: flex;
    justify-content: center;
}
.work-card{
   width: 90dvw;
   color: whitesmoke;
   position: relative;
}
.work-card img{
    width:  100%;
}
.portfolio-works-details{
    position: absolute;
    padding: 1dvw;
    background-color: black ;
    height: 100%;
    width: 100%;
        bottom: 0;
display: flex;
flex-direction: column;
align-items: baseline;
justify-content: flex-end;
opacity: 0;
}

.portfolio-works-details:hover{
    opacity: 0.8;
}
.portfolio-works-details h1,p{
    font-size: 45px;
}
.category{
    margin-top: 3dvw;
    display:flex;
    justify-content: center;
    padding: 4dvw;
    
}
.category a{
    padding: 0.8dvw 1.5dvw;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 1dvw;
    font-size: 25px;

}
.category a:hover{
    background: var(--primary-gradient);
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-image{
    height: 600px;
    padding: 20px;
}
.popup-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 70dvw;
}

.popup-details{
    padding: 20px;
}
.popup-content h2{
    font-size: 40px;
}
.popup-content h3,h4{
    font-size: 35px;
}
.popup-content button{
    background-color: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
}

}