#profileID{
        height: 100%;

}
.top-profile-section{

            background: var(--primary-gradient);
            color: #e8e8e8;

}
.profileMain{
    height: 100dvh;
    width: 100dvw;
    
    color: rgb(156, 156, 156);
 
}

.profileText{
    text-align: justify;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.profileText h1{
 text-align: center ;
    font-size: 40px;
    color: white;
    
}
.profileText h3{
    padding: 10px 0;
}
.profileText .first-part-about p{
    margin-top: 100px;
    line-height: 30px;
    width: 60vw;
    text-align: center;
    color: white;
}
.profile-heading{
    transform: translate(10vw,10vh);
    background-image: url(../assets//images/about-me-abizec.jpg);
    height: 50vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
        justify-content: flex-end;

  font-family: "bebas neue";
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  flex-direction: column;




}


.resume-section{
    margin: 5vh 0;
    display: flex;
    justify-content: center;
}

.aboutMeFlex{
    display: flex;
}
.aboutMeFlex h1{
    font-size: 40px;
}
.socialMedia{
    border-radius: 15px;
    margin-top:10px ;
    padding: 10px 0;

}
.socialMedia a{
    font-size: 25px;
color: black; 
padding: 10px;}

.resume{
    text-decoration: none;
    padding: 5px 40px;
    background-color: white;
    color:  black   ;
    font-weight: bold;
    border-radius: 15px;
    transition: background 0.3s ease, transform 0.3s ease;

}
.resume:hover{
    background: linear-gradient(45deg, #ff6a00, #f72323); /* New gradient on hover */
    transform: scale(1.1);

}

.second-part-about{
    margin: 0 20vw
}

.second-part-about h1{
    color: #2e2e2e;
    margin-bottom: 0;
    text-align: left;
    margin-top: 100px;

}
.second-part-about p{
    margin: 0;
    text-align: left;
    margin-bottom: 100px;
    margin-left: 0;
}


@media (max-width:999px) {
 #profileID{
        font-family: "open sans" sans-serif;

        height: 100%;

}
.top-profile-section{

            background: var(--primary-gradient);
            color: #e8e8e8;

}
.profileMain{
    height: 100dvh;
    width: 100dvw;
    
    color: rgb(156, 156, 156);
 
}

.profileText{
    text-align: justify;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
        font-family: "open sans" sans-serif;


}
.profileText h1{
 text-align: center ;
    font-size: 40px;
    color: white;
        font-family: "open sans" sans-serif;

    
}
.profileText h3{
    padding: 10px 0;
        font-family: "open sans" sans-serif;

}
.profileText .first-part-about p{
    margin-top: 100px;
    line-height: 60px;
    width: 90vw;
    text-align: center;
    color: white;
    font-size: 35px;
}
.profile-heading{
    transform: translate(0,2vh);
    background-image: url(../assets//images/about-me-abizec.jpg);
    height: 20vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
        justify-content: flex-end;

  font-family: "open sans", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 40px;
  border-radius: 0px;
  background-position: center;
  background-size: cover;
  flex-direction: column;




}


.resume-section{
    margin: 2vh 0;
    display: flex;
    justify-content: center;
}

.aboutMeFlex{
    display: flex;
}
.aboutMeFlex h1{
    font-size: 40px;
    font-family: "open sans" sans-serif;
}
.socialMedia{
    border-radius: 15px;
    margin-top:10px ;
    padding: 10px 0;

}
.socialMedia a{
    font-size: 25px;
color: black; 
padding: 10px;}

.resume{
    text-decoration: none;
    padding: 15px 60px;
    background-color: white;
    color:  black   ;
    font-weight: bold;
    font-size: 50px;
    border-radius: 25px;
    transition: background 0.3s ease, transform 0.3s ease;

}
.resume:hover{
    background: white;
    transform: scale(1);

}

.second-part-about{
    margin: 0 10vw;
        font-family: "open sans" sans-serif;

}

.second-part-about h1{
    color: #2e2e2e;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 100px;
        font-family: Arial Black, Helvetica, sans-serif;
        font-weight: black;
        font-size: 45px;

        

}
.second-part-about p{
    margin: 0;
    text-align: left;
    margin-bottom: 100px;
    margin-left: 0;
}
}
