.WorksContainer{
  display: flex;
  flex-direction: column;
  
}


.projectCards{
  display: flex;
  position: relative;
  align-items: center;
  
margin: 2dvw 0;
  padding: 10px 10px;


}
.projectDetails{

  transition: 0.3s;
  background-color: #e9e9e9;
  padding: 0px 10px;
  width: 40dvw;
  padding: 2dvw;
  border-radius: 10px;
  
}

.projectDetails h1{
  font-size: 28px;

}

.project {
  display: flex;
}

.projectTopDescription{
  padding: 1dvw 0;
}
.projectTopDescription h1 {
  color: #1e1e1e;
  text-align: center;
  font-family: "bebas neue";
  font-size: 160px;
    writing-mode: vertical-lr;

}
.projectTopDescription p{
  text-align: center;
}
.projectCards img{
  width: 20dvw;
  padding: 10px 10px;
}


@media (max-width: 999px) {
  .WorksContainer{
  display: flex;
  flex-direction: column;
  
}


.projectCards{
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  
margin: 2dvw 0;
  padding: 10px 10px;


}
.projectDetails{

  transition: 0.3s;
  background-color: transparent;
  padding: 0px 10px;
  width: 85dvw;
  padding: 0 5dvw;
  border-radius: 10px;
  
}
.projectDetails p{
  font-size: 35px;
  text-align: justify;
  padding: 0 5dvw ;
}

.projectDetails h1{
  font-size: 50px;
  padding: 2dvw 5dvw ;

  font-family: 'Open Sans', sans-serif;
  font-weight: bold;



}

.project {
  display: flex;
  flex-direction: column;
  padding: 0 10dvw;
}

.projectTopDescription{
  padding: 1dvw 0;
}
.projectTopDescription h1 {
  padding-top: 70px;
  color: #1e1e1e;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
    writing-mode: horizontal-tb;

}
.projectTopDescription p{
  text-align: center;
  font-size: 32px;
  padding-top: 10px;
}
.projectCards img{
  width: 70dvw;
  padding: 10px 10px;
}

}