.whitecontact{
    margin-top: 10vh;
    background: white;
    justify-content: center;
    align-items: center;
    color: #2e2e2e;
        padding: 5dvw 15dvw;
}
.contact-flex{

        display: flex;
        flex-wrap: wrap;

}
.whitefooter{
    text-align: center;
margin-top: 2dvw;
color: #2e2e2e;
font-size: 0.8dvw;
}


.whitecontactSocial{
    align-items: center;
    justify-content: center;
    display: flex;
}
.whitecontactSocial div{
    margin: 20px 20px;
    font-size: 25px;
    padding: 0;
    background-color: transparent;

}
.whitecontactSocial div:hover{
filter: drop-shadow(0 0 10px rgb(0, 143, 0))
drop-shadow(0 0 10px rgba(82, 255, 82, 0.486));   
  transition: 0.3s;
  color: green;

}
.whitecontactSocial div a{
    text-decoration: none;
    color: #2e2e2e;
}
.icon{
    margin-top: 2px;
    padding: 0 10px;
}
.contactHeading{
    width:40dvw;
}
.contactHeading h1{
    padding: 20px 0;
    font-size: 30px;
}
.contactHeading p{
        text-align: left;

}
.contactTextPart li{
    display: flex;
    margin: 0 5dvw;
list-style: none;
padding: 10px 0;

}
.contactTextPart{
    display: block;
}




@media (max-width:999px) {
 .whitecontact{
    padding: 20px 10vw;
    display: block;
    background-color: white;
    justify-content: center;
    align-items: center;
    color: #2e2e2e;
}
.whitecontactHeading h1{
    padding: 2vh 0;
    font-size: 50px;


}
.whitecontactHeading p{
    width: 80dvw;
    line-height: 46px;
    font-size: 40px;
}
.whitecontactSocial{

    display: flex;
    justify-content: start;
    padding: 20px 0;
} 
.whitecontactSocial div{
    margin: 50px 25px;
    padding: 0;
    background-color: transparent;

}
.whitecontactSocial div:hover{
filter: drop-shadow(0 0 10px rgb(0, 143, 0))
drop-shadow(0 0 10px rgba(82, 255, 82, 0.486));   
  transition: 0.3s;
  color: green;

}
.whitecontactSocial div a{
    font-size: 42px;
}
.icon{
    margin-top: 2px;
    padding: 0 10px;
}
.contactHeading{
    width:95dvw;
}
.whitecontactHeading h1{
    margin: 20px 0;
    padding: 5px 0;
    font-size: 47px;
}
.whitecontactTextPart li{
    display: flex;
    margin: 0 0dvw;
list-style: none;
padding: 20px 0;
font-size: 40px;

}
.whitecontactTextPart{
    display: block;
    padding-top: 30px;

}
   .footer{
    text-align: center;
margin-top: 0;
color: #b1b1b169;
} 
.whitefooter p{
    font-size: 35px;
}
}